.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.p {
  font-weight: bold;
}

.page-header {
  background-color: #373737;
  color: #FFFFFF;
  border-radius: 5px;
}
.page-header h1 {
  margin: 5px;
  padding: 5px;
}
.sub-header {
  background-color: #F0F0F0;
  color: #282828;
  margin: 5px;
  padding: 5px;
}
.sub-header h1 {
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}
.section {
  margin: 5px;
  padding: 5px;
}
.section-title{
  font-size: 1.3rem;
  align-self: flex-start;
}
.section-content{
  width: 70%;
  margin-right: 10px;
}

.section-content p{
  font-size: 1.2rem;
}

.widget-container{
  flex-direction: column;
  justify-content: flex-start;
}
.widget-container p{
  padding-left: 10px;
}

.widget-header{
  display: flex;
  text-align: left;
  align-self: flex-start;
}

.widget-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.widget-input input{
  width: 0px;
  height: 0px;
}

/* .flex-container2  button{
  background-color: #282828;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  align-self: flex-end;
  margin-right: 5px;
  font-size: 1.2rem;
} */

.outer-container{
  max-width: 1000px;
  margin: 0 auto;
}

.widget-input input:checked + label img {
  box-shadow: 0 0 10px #6f00ff;
  border-radius: 5px;
}

.widget-text-input{
  height: 200px;
  background-color: #e5e3e3;
  border-width: 0px;
  border-color: #282828;
  font-size: 1.2rem;
  padding: 10px;
  resize: none;
}

.feedback-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}

